body {
  background-image: url(./granite-texture.jpg);
  background-size: cover;
  font-family: "Indie Flower", cursive;
}

h1 {
  font-size: 20pt;
  font-weight: 700;
  margin: 40px 5px;
}
h3 {
  margin-top: 25px;
  font-size: 17pt;
}
.postIt1,
.postIt4,
.postIt8 {
  background-color: rgb(255, 181, 42);
}
.postIt6,
.postIt3,
.postIt2 {
  background-color: rgb(126, 251, 126);
}

.postIt5,
.postIt7 {
  background-color: rgb(254, 254, 57);
}

.postIt1,
.postIt7 {
  transform: rotate(15deg);
  box-shadow:
    5px 10px 12px rgba(0, 0, 0, 1),
    inset 0 -40px 50px -15px rgba(0, 0, 0, 0.3);
}
.postIt2,
.postIt4 {
  box-shadow:
    0px 10px 12px rgba(0, 0, 0, 1),
    inset 0 -40px 50px -15px rgba(0, 0, 0, 0.3);
  transform: rotate(-2deg);
}
.postIt3,
.postIt8 {
  box-shadow:
    2px 10px 12px rgba(0, 0, 0, 1),
    inset 0 -40px 50px -15px rgba(0, 0, 0, 0.3);
  transform: rotate(4deg);
}
.postIt6,
.postIt5 {
  box-shadow:
    -5px 10px 12px rgba(0, 0, 0, 1),
    inset 0 -40px 50px -15px rgba(0, 0, 0, 0.3);
  transform: rotate(-5deg);
}
.bacheca {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95vw;
  height: 95vh;
  padding: 30px;
}
.bacheca div {
  height: 250px;
  width: 260px;
  text-align: center;
  transition: all 0.2s linear;
}

.bacheca div:hover {
  transform: scale(1.1) translate(0, -10px);
  z-index: 1;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
}
